<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat the burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/cats.js"></script>
	</head>
	<body>
		{{{ body }}}
        <button id='submit-button' type="submit">Submit</button>
	</body>
</html>

{{!-- #### View setup

1. Inside your `burger` directory, create a folder named `views`.

   * (done) Create the `index.handlebars` file inside `views` directory.

   * (done) Create the `layouts` directory inside `views` directory.

     * (done) Create the `main.handlebars` file inside `layouts` directory.

     * (done) Setup the `main.handlebars` file so it's able to be used by Handlebars.

     * (done) Setup the `index.handlebars` to have the template that Handlebars can render onto.

     * Create a button in `index.handlebars` that will submit the user input into the database. --}}
